/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-tp-gallery-new  {
  background: $green;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  max-width: 200px;
  max-height: 130px;
  overflow: hidden;
}

.car-clamp-height{
  max-height: 150px;
  max-width: 150px;
  overflow: hidden;
}


