/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .car-clamp-height{
   max-height: 300px;
   overflow: hidden;
 }
 .wp-block-cgb-block-tp-gallery-new  {
     margin-top: 6px;
     margin-bottom: 6px;
 }

